xProxy/xProxy/Service References/ServiceReference1/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xgtechproxyuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://xgtechproxyuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xgtechproxyuri.org/">
      <s:element name="HttpToDb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HttpToDbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HttpToDbResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelHttp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelHttpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelHttpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Socks5ToDb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Socks5ToDbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Socks5ToDbResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelSocks5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="port" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelSocks5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelSocks5Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HttpToDbSoapIn">
    <wsdl:part name="parameters" element="tns:HttpToDb" />
  </wsdl:message>
  <wsdl:message name="HttpToDbSoapOut">
    <wsdl:part name="parameters" element="tns:HttpToDbResponse" />
  </wsdl:message>
  <wsdl:message name="DelHttpSoapIn">
    <wsdl:part name="parameters" element="tns:DelHttp" />
  </wsdl:message>
  <wsdl:message name="DelHttpSoapOut">
    <wsdl:part name="parameters" element="tns:DelHttpResponse" />
  </wsdl:message>
  <wsdl:message name="Socks5ToDbSoapIn">
    <wsdl:part name="parameters" element="tns:Socks5ToDb" />
  </wsdl:message>
  <wsdl:message name="Socks5ToDbSoapOut">
    <wsdl:part name="parameters" element="tns:Socks5ToDbResponse" />
  </wsdl:message>
  <wsdl:message name="DelSocks5SoapIn">
    <wsdl:part name="parameters" element="tns:DelSocks5" />
  </wsdl:message>
  <wsdl:message name="DelSocks5SoapOut">
    <wsdl:part name="parameters" element="tns:DelSocks5Response" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="HttpToDb">
      <wsdl:input message="tns:HttpToDbSoapIn" />
      <wsdl:output message="tns:HttpToDbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelHttp">
      <wsdl:input message="tns:DelHttpSoapIn" />
      <wsdl:output message="tns:DelHttpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Socks5ToDb">
      <wsdl:input message="tns:Socks5ToDbSoapIn" />
      <wsdl:output message="tns:Socks5ToDbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelSocks5">
      <wsdl:input message="tns:DelSocks5SoapIn" />
      <wsdl:output message="tns:DelSocks5SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HttpToDb">
      <soap:operation soapAction="http://xgtechproxyuri.org/HttpToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelHttp">
      <soap:operation soapAction="http://xgtechproxyuri.org/DelHttp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Socks5ToDb">
      <soap:operation soapAction="http://xgtechproxyuri.org/Socks5ToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSocks5">
      <soap:operation soapAction="http://xgtechproxyuri.org/DelSocks5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HttpToDb">
      <soap12:operation soapAction="http://xgtechproxyuri.org/HttpToDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelHttp">
      <soap12:operation soapAction="http://xgtechproxyuri.org/DelHttp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Socks5ToDb">
      <soap12:operation soapAction="http://xgtechproxyuri.org/Socks5ToDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSocks5">
      <soap12:operation soapAction="http://xgtechproxyuri.org/DelSocks5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://localhost:5295/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://localhost:5295/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>